body {
    background-color: rgba(171, 244, 239, 0.411);
    margin-bottom: 35px;
    
}

.jumbotron {
    text-align: center;
    background-color: rgba(22, 144, 237, 0.94);
    min-height: 65px;
    
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

h3 {
    text-align: center;

}

.parag {
    text-align: inherit;
    margin-left: auto;
    margin-right: auto;
    width: 90em;
    font-size: 2.5em
    display: inline-block;
}